<section class="fw-gray-bg padding-top-3x" id="team">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-12">
        <div class="block-heading">
          <h2>Our Core Team</h2>
          <span>People behind this product</span>
        </div>
      </div>
      <div class="col-lg-12">
        <p class="text-smaller">Meet our team.The ones who actually handcrafted the idea to evolve it into a product
          that is to revolutionarise the world</p>
      </div>
    </div>

    <div class="row space-top-3x">
      <div class="col-sm-4 team-member">
      <img src="assets/landing/img/team/img_core_lovi_sir.png" alt="The Mastermind">
        <h3>Dr.Lovi Raj Gupta</h3>
        <span>Team Lead</span>
        <div class="social-buttons">
          <a href="https://plus.google.com/115789268336237818360" class="sb-google-plus"><i class="bi-gplus"></i></a>
          <a href="https://www.facebook.com/loviraj.gupta" class="sb-facebook"><i class="bi-facebook"></i></a>
        </div>
      </div>

      <div class="col-sm-4 team-member">
      <img src="assets/landing/img/team/img_core_vishakha.png" alt="The Creative">
        <h3>Vishakha Choudhary</h3>
        <span>Device Designer</span>
        <div class="social-buttons">
          <a href="#" class="sb-twitter"><i class="bi-twitter"></i></a>
          <a href="#" class="sb-google-plus"><i class="bi-gplus"></i></a>
          <a href="https://www.facebook.com/vishakha.choudhary.1466" class="sb-facebook"><i
            class="bi-facebook"></i></a>
        </div>
      </div>

      <div class="col-sm-4 team-member">
      <img src="assets/landing/img/team/img_core_prasanti.png" alt="The Artistic">
        <h3>Yerra Prasanthi</h3>
        <span>Testing Lead</span>
        <div class="social-buttons">
          <a href="#" class="sb-behance"><i class="bi-behance"></i></a>
          <a href="#" class="sb-dribbble"><i class="bi-dribbble"></i></a>
          <a href="https://www.facebook.com/prasanthiammulu.yerra" class="sb-facebook"><i class="bi-facebook"></i></a>
        </div>
      </div>
    </div>
    <div class="row space-top-3x">
      <div class="col-sm-4 team-member">
      <img src="assets/landing/img/team/img_core_satish.png" alt="The Good">
        <h3>Satish Reddy</h3>
        <span>Hardware Developer</span>
        <div class="social-buttons">
          <a href="#" class="sb-twitter"><i class="bi-twitter"></i></a>
          <a href="#" class="sb-google-plus"><i class="bi-gplus"></i></a>
          <a href="https://www.facebook.com/satish.modugu" class="sb-facebook"><i class="bi-facebook"></i></a>
        </div>
      </div>
      <div class="col-sm-4 team-member">
      <img src="assets/landing/img/team/img_core_kunal.png" alt="The Bad">
        <h3>Kunal Panchal</h3>
        <span>Software Developer</span>
        <div class="social-buttons">
          <a href="http://www.instagram.com/kay_2695px" class="sb-instagram"><i class="bi-instagram"></i></a>
          <a href="http://www.facebook.com/kunalpanchal2695" class="sb-facebook"><i class="bi-facebook"></i></a>
          <a href="https://plus.google.com/u/0/+KunalPanchal2695" class="sb-google-plus"><i class="bi-gplus"></i></a>
          <a href="https://www.linkedin.com/in/panchalkunal" class="sb-linkedin"><i class="bi-linkedin"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>
