
<div class="w-section section-hero">
  <img width="400" src="assets/Evolution/images/icon.png" class="w-hidden-medium w-hidden-small w-hidden-tiny img-hero">
  <div class="w-container container-hero">
    <div class="w-row row-hero">
      <div class="w-col w-col-6 w-col-stack column-hero">
        <h1>SitAby EVOLUTION</h1>
        <h3>Lets walk you through our development phase.</h3>
      </div>
      <div class="w-col w-col-6 w-col-stack column-hero-img"><img width="400" src="assets/Evolution/images/icon.png" class="w-hidden-main hero-img"></div>
    </div>
  </div>
</div>

<div id="what-is-classt" class="w-section section-what-is-class">
  <div class="w-container container-what-is-classt">
    <h2>Idea <span>&#8594;</span> Paper <span>&#8594;</span> Simulations <span>&#8594;</span> Prototypes <span>&#8594;</span> Product</h2>
    <p>
      The basic framework of humans is designed to move and to stand; sitting is against the primitive design ideology of humans and is the main cause of inactiveness. The researchers have revealed that sitting surely hurts even to the people following a healthy and exercise centric lifestyle. Today’s lifestyle however, has become sedentary owing to the work hours and need for working while sitting. The scary picture is that sedentary behavior leads to poor health including heart disease, diabetes, obesity, hypertension, cardiovascular ailments, cancer and finally premature mortality.
      In order to make sitting less harmful, reduce its menace, to create awareness , and to correct and rectify ones posture SitAby, The Posture Proctor is created.
    </p>
    <!-- <img  width="919" src=assets/Evolution/imagesimage1.png" class="img-what-is-classt"> -->
  </div>
</div>

<!--1-->
<div class="w-section section-feature-1">
  <div class="w-container container-feature-1">
    <div class="w-row row-feature-1">
      <div class="w-col w-col-6 w-col-stack column-feature-1">
        <div class="small-title">Stage 1</div>
        <h2>November 2014</h2>
        <p>
          Identification of problems being faced by light activity workers, involved in sedentary behavior and the ill effects on their health.
          All possible/feasible postures were identified and sketches were developed.  Iterations on multiple sitting stances were looked upon under the supervision of physiotherapy experts to identify the most appropriate grid   for rendering each and every stance of posture.
        </p>
      </div>
      <div class="w-col w-col-6 w-col-stack column-feature-1-img"><img width="300" src="assets/Evolution/images/roundimage7.png" class="img-feature-1"></div>
    </div>
  </div>
</div>

<!--2-->
<div class="w-section section-feature-2">
  <div class="w-container container-feature-2">
    <div class="w-row row-feature-2">
      <div class="w-col w-col-6 w-col-stack w-hidden-medium w-hidden-small w-hidden-tiny column-feature-1-img"><img width="300" src="assets/Evolution/images/roundimage6.png" class="img-feature-2"></div>
      <div class="w-col w-col-6 w-col-stack column-feature-2">
        <div class="small-title">Stage 2</div>
        <h2>March 2015</h2>
        <p>
          Arduous literature review, fact finding, opinion compilation from experts on errors in postures and their menace caused on health. Building apt understanding on ergonomics, kinesiology and other relevant axioms.
          After fact finding and continuous assessing of postures which leads to ailments and an opinion compilation from physiotherapy experts on errors in postures and their menace caused on health we got the initial insight of all the postures that will raise the sin index of an individual.
        </p>
        <img width="300" src="assets/Evolution/images/roundimage6.png" class="w-hidden-main img-feature-2-mobile">
      </div>
    </div>
  </div>
</div>

<!--3-->
<div class="w-section section-feature-1">
  <div class="w-container container-feature-1">
    <div class="w-row row-feature-1">
      <div class="w-col w-col-6 w-col-stack column-feature-1">
        <div class="small-title">Stage 3</div>
        <h2>June 2015</h2>
        <p>
          Constructing data capture points. Iterations on multiple sitting stances were looked upon to identify the most appropriate points for rendering the posture.
          Once the unique data capturing matrix was decided, we started building posture sensing algorithm from the captured data crafting routines to convert data into explicit knowledge on stance and after rigorous testing.
        </p>
      </div>
      <div class="w-col w-col-6 w-col-stack column-feature-1-img"><img width="300" src="assets/Evolution/images/roundimage2.png" class="img-feature-1"></div>
    </div>
  </div>
</div>

<!--4-->
<div class="w-section section-feature-2">
  <div class="w-container container-feature-2">
    <div class="w-row row-feature-2">
      <div class="w-col w-col-6 w-col-stack w-hidden-medium w-hidden-small w-hidden-tiny column-feature-1-img"><img width="300" src="assets/Evolution/images/roundimage9.png" class="img-feature-2"></div>
      <div class="w-col w-col-6 w-col-stack column-feature-2">
        <div class="small-title">Stage 4</div>
        <h2>October 2015</h2>
        <p>
          Building posture sensing algorithm from the captured data crafting routines to convert data into explicit knowledge on stance
          Appropriate posture sensing algorithm was built to quantify a particular posture. To increase the accuracy of the data sensing we refined posture sensing algorithm for best stance capture. After further analysis of data captured we further refined our logic so that each stance can be explicitly identified.
        </p><img width="300" src="assets/Evolution/images/roundimage9.png" class="w-hidden-main img-feature-2-mobile">
      </div>
    </div>
  </div>
</div>

<!--5-->
<div class="w-section section-feature-1">
  <div class="w-container container-feature-1">
    <div class="w-row row-feature-1">
      <div class="w-col w-col-6 w-col-stack column-feature-1">
        <div class="small-title">Stage 5</div>
        <h2>February 2016</h2>
        <p>
          Constructing communication and interaction between data capture device and hand held mobile phone using SPI MOSI and MISO modes.
          Regressive testing to ensure uninterrupted connectivity was done between device and mobile. Automatic connectivity mechanism is implemented which reduces human interference.
        </p>
      </div>
      <div class="w-col w-col-6 w-col-stack column-feature-1-img"><img width="300" src="assets/Evolution/images/roundimage8.png" class="img-feature-1"></div>
    </div>
  </div>
</div>

<!--6-->
<div class="w-section section-feature-2">
  <div class="w-container container-feature-2">
    <div class="w-row row-feature-2">
      <div class="w-col w-col-6 w-col-stack w-hidden-medium w-hidden-small w-hidden-tiny column-feature-1-img"><img width="300" src="assets/Evolution/images/roundimage1.png" class="img-feature-2"></div>
      <div class="w-col w-col-6 w-col-stack column-feature-2">
        <div class="small-title">Stage 6</div>
        <h2>April 2016</h2>
        <p>
          Refining posture sensing algorithm for best stance capture and pushing it to the mobile and publishing it on to the cloud
          The captured data was pushed wirelessly to the mobile and published on to the cloud for storage and further analysis. This data is also archived for future referencing, crafting exercises and procedures for better sitting.
        </p><img width="300" src="assets/Evolution/images/roundimage1.png" class="w-hidden-main img-feature-2-mobile">
      </div>
    </div>
  </div>
</div>

<!--7-->
<div class="w-section section-feature-1">
  <div class="w-container container-feature-1">
    <div class="w-row row-feature-1">
      <div class="w-col w-col-6 w-col-stack column-feature-1">
        <div class="small-title">Stage 7</div>
        <h2>June 2016</h2>
        <p>
          Fine tuning the alert mechanism based on the error in the posture and prolonged existence of sitting through machine learning.
          We developed an application which has alert mechanism based on the error in the posture and prolonged existence of sitting. The application is intelligent enough to record unknown postures, updates its database and categorize them through machine learning.
        </p>
      </div>
      <div class="w-col w-col-6 w-col-stack column-feature-1-img"><img width="300" src="assets/Evolution/images/roundimage11.png" class="img-feature-1"></div>
    </div>
  </div>
</div>

<!--8-->
<div class="w-section section-feature-2">
  <div class="w-container container-feature-2">
    <div class="w-row row-feature-2">
      <div class="w-col w-col-6 w-col-stack w-hidden-medium w-hidden-small w-hidden-tiny column-feature-1-img"><img width="300" src="assets/Evolution/images/roundimage13.png" class="img-feature-2"></div>
      <div class="w-col w-col-6 w-col-stack column-feature-2">
        <div class="small-title">Stage 8</div>
        <h2>August 2016</h2>
        <p>
          Constructing number of prototypes with different sensors and vivid data capture matrix. Dynamically tweaking the type and number of sensing locations based on the testing data.
          Different prototypes were built and given to different users to analyze accuracy of the data through the different prototypes using different number and type of sensors. After analysis of the data captured we finalized the sensors that the gave best result.
        </p><img width="300" src="assets/Evolution/images/roundimage13.png" class="w-hidden-main img-feature-2-mobile">
      </div>
    </div>
  </div>
</div>

<!--9-->
<div class="w-section section-feature-1">
  <div class="w-container container-feature-1">
    <div class="w-row row-feature-1">
      <div class="w-col w-col-6 w-col-stack column-feature-1">
        <div class="small-title">Stage 9</div>
        <h2>October 2016</h2>
        <p>
          Rigorous testing and data deciphering, building pious patterns of stances and compiling sedentary behavior of an individual.
          We started working on the final product by rigorous testing, data deciphering, building pious patterns of stances and compiling sedentary behavior of an individual. A product with high accuracy in posture sensing was built and an individual’s sitting activity could be stored on cloud.
        </p>
      </div>
      <div class="w-col w-col-6 w-col-stack column-feature-1-img"><img width="300" src="assets/Evolution/images/roundimage15.png" class="img-feature-1"></div>
    </div>
  </div>
</div>

<!--10-->
<div class="w-section section-feature-2">
  <div class="w-container container-feature-2">
    <div class="w-row row-feature-2">
      <div class="w-col w-col-6 w-col-st  ack w-hidden-medium w-hidden-small w-hidden-tiny column-feature-1-img">
        <img width="300" src="assets/Evolution/images/roundimage14.png" class="img-feature-2">
      </div>
      <div class="w-col w-col-6 w-col-stack column-feature-2">
        <div class="small-title">Stage 10</div>
        <h2>January 2017</h2>
        <p>
          Refining application for best stance capture and publishing it on to the cloud for analysis and storage.
          User friendly application with interactive charts that are easy to understand was fine tuned. Seamless connectivity was established. Bugs were removed and performance was optimized.
        </p>
        <img width="300" src="assets/Evolution/images/roundimage14.png" class="w-hidden-main img-feature-2-mobile">
      </div>
    </div>
  </div>
</div>

<!--11-->
<div class="w-section section-feature-1">
  <div class="w-container container-feature-1">
    <div class="w-row row-feature-1">
      <div class="w-col w-col-6 w-col-stack column-feature-1">
        <div class="small-title">Stage 11</div>
        <h2>Launch</h2>
        <p>Thus a posture proctor is invented as SitAby, built upon the innovative Internet of Things (IoT) platform supported by unique posture capture, sensing and compiling algorithm in real time. The audio, video and vibrational alerts on error, sedentary behavior and pattern of stances are piously sent to the user and it is ensured that the user corrects the errors and also breaks the longevity of sitting. The unique design makes it truly portable and drafts in a framework for creation of SitAby ready workplaces, libraries, cafes, vehicles and all such spaces where sitting is the prime and unavoidable posture to be.</p>
      </div>
      <div class="w-col w-col-6 w-col-stack column-feature-1-img"><img width="300" src="assets/Evolution/images/roundimage12.png" class="img-feature-1"></div>
    </div>
  </div>
</div>
