<!-- 2 required modifier classe available '.img-left' and '.img-right'-->
<section class="split-block img-left" id="app-story">
  <div class="column">
    <img src="assets/landing/img/prototype.png" alt="Prototyping">
  </div>
  <div class="column">
    <div class="block-heading">
      <h2>The Evolutional
        <br>timeline of SitAby</h2>
      <span>Little story of our device development</span>
    </div>
    <p>Have a sneak peak at how this Prostor proctor was born and brought up.</p>
    <p>It started back in late 2014 with just some switches that we mounted on a office chair and had it connected to mobile
    </p>
    <a href="/evolution" class="link">Read More</a>
  </div>
</section>