<section class="fw-bg bottom-shadow padding-top-3x padding-bottom-2x" style="background-color: #199aef;" id="web-app">
  <div class="container light-color">
    <div class="row">
      <div class="col-md-5">
        <div class="block-heading text-right">
          <h2>Web Interface</h2>
          <span>Our app right in your browser</span>
        </div>
      </div>
    </div>
    <div class="row space-top-2x">
      <div class="col-md-5">
        <div class="icon-block icon-block-horizontal">
          <div class="icon hidden-xs"><i class="flaticon-earth205"></i></div>
          <div class="text">
            <h3>Full Featured Dashboard </h3>
            <p >Access all of your data online right now and when you dont have your android around</p>
            <p class="space-top">Web Version</p>
            <a href="http://www.sitaby.com" class="btn btn-success btn-float waves-effect waves-light btn-lg">SitAby WEB</a>
          </div>
        </div>
      </div>
      <div class="col-md-7">
        <img src="assets/landing/img/webapp/macbook.png" alt="Web App">
      </div>
    </div>
  </div>
</section>
