<section class="fw-bg bottom-shadow padding-top-3x padding-bottom-2x" id="pricing"
         style="background-color: #008fed; z-index: 1;">
  <div class="container light-color">
    <div class="row space-top-2x">
      <!-- Pricing Plan -->
      <div class="pricing-plan pricing-plan-float pricing-plan-success">
        <div class="icon"><i class="flaticon-graduate32"></i></div>
        <div class="pricing-plan-title">
          <span class="name"></span>
          More Details?
          <span class="period"></span>
        </div>
        <a href="mailto:sitaby@lpu.co.in" class="btn btn-block btn-default btn-float waves-effect">Mail us</a>
      </div>
    </div>
  </div>
</section>
