<section class="fw-bg top-inner-shadow padding-top-3x padding-bottom-3x" id="posts"
         style="background-color: #96cb4b;">

  <div class="container">

    <div class="row">

      <div class="col-md-3 col-sm-4">

        <div class="block-heading text-right light-color">

          <h2>Testimonials</h2>

          <span>Happy experiences with SitAby</span>

        </div>


        <!-- Twitter Feed -->

        <div class="twitter-feed">

          <div class="footer-head ">

            <div class="info">

              <p>Get rid of lower backpain by monitoring your posture<br/> -Dr.Mohanty</p>

            </div>

          </div>
          <br/><br/>

          <div class="footer-head ">
            <div class="info">
              <p>IT Industries today demand such products.<br/> -Mr. Cheema (CEO Cheema Boilers CHD) </p>
            </div>
          </div>
        </div>
        <div class="space-bottom-2x visible-xs"></div>
      </div>

      <!-- Blog Posts -->
      <div class="col-lg-8 col-lg-offset-1 col-md-9 col-sm-8">
        <div class="scroller light-color posts">
          <div class="item">
            <div class="post-tile">
              <a href="blog-single.html" class="post-thumb waves-effect">
                <img src="assets/landing/img/blog/president-phy.png" alt="Great Interactions">
              </a>
              <div class="post-body">
                <div class="post-title">
                  <a href="#" target="_blank"><h3>Dr.Umasankar Mohanty</h3></a>
                  <span>President of Indian Association Of <br/>Physiotherapist,talks about the uniquiety <br/>and usefullness of sitaby </span>
                </div>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="post-tile">
              <a href="assets/landing/blog-single.html" class="post-thumb waves-effect">
                <img src="assets/landing/img/blog/mla-chd.png" alt="Smart Keyboard">
              </a>
              <div class="post-body">
                <div class="post-title">
                  <a href="blog-single.html"><h3>Mr.Vivek Atray</h3></a>
                  <span>IAS Director Industries Government of <br/>Haryana has tested and endrosed the<br/> utility of SitAby.</span>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="post-tile">
              <a href="blog-single.html" class="post-thumb waves-effect">
                <img src="assets/landing/img/blog/pharmacy.png" alt="Interactions Map">
              </a>
              <div class="post-body">
                <div class="post-title">
                  <a href="blog-single.html"><h3>Dr. Monica Gulati</h3></a>
                  <span>Senior Dean,Faculty of Applied Medical Sciences<br/>Lovely Professional University<br/>talks about the benifits of using SitAby</span>
                </div>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="post-tile">
              <a href="blog-single.html" class="post-thumb waves-effect">
                <img src="assets/landing/img/blog/sir.png" alt="Interactions Map">
              </a>
              <div class="post-body">
                <div class="post-title">
                  <a href="blog-single.html"><h3>Mr. Sarabjit Singh Kwatra </h3></a>
                  <span>Assistant Director Human Resource Development<br/> Centre,Lovely Professional University<br/>talks about the necessity of SitAby.</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
